// SCSS Syntax http://sass-lang.com/documentation/file.SASS_REFERENCE.html#css_extensions

// variable declaration in SCSS we use variables to keep style clean and easy to modify
// if we use this variable to say 50 rules and want to change the color, we would change only this variable.
$mycolor: #67A6A6;
$blue: rgb(75, 106, 136);
$grey: #2a2f49;

@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

body {
  font-family: 'Arimo', sans-serif;
}

.container {
  max-width: 1100px;
}

.sm-caption {
  font-size: 14px;
}

.lg-text {
    font-size: 2rem;
    line-height: 2.5rem;
}

.wrapper {
  padding: 60px 0;
}

.h3, h3 {
    font-size: 1.4rem;
}

a {
  color: #00a9d1;
}

a:hover {
  color: #034858;
}

// in SCSS we nest
nav {
  text-transform: uppercase;
  .navbar {
    padding: 0;
  }
  // in CSS this was selected by nav a
  a {
    color: #1a1a1a;
    font-weight: 500;
    padding: 0 18px;
    display: block;
    // change a on hover example
    // in CSS this was selected by nav a:hover
    &:hover {
      color: #00a9d1;
    }
  }
}

.page-top {
    height: 40px;
    line-height: 40px;
    background: #f4f4f4;
    color: #1a1a1a;
    overflow: hidden;
    text-align: right;

    .social-icons a {
      color: #000;
      padding: 0 5px;
    }
}

.page-top .container-fluid, .topnav .container-fluid {
      padding: 0 60px;
}

.home-video {
    height: 500px;
    .video-background {
      background: #fff;
      position: inherit;
      right: 0; bottom: 0; left: 0;
      z-index: -99;
      
    }
    .video-foreground,
    .video-background iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    #vidtop-content {
    	top: 0;
    	color: #fff;
    }
    .vid-info {  }
    .vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
    .vid-info a {     
      color: #fff;
      background-color: #4CADC9;
      font-size: 14px;
      padding: 14px 20px;
      border-radius: 5px; 
      margin-top: 400px;
      display: -webkit-inline-box;
    }
    @media (min-aspect-ratio: 16/9) {
      .video-foreground { height: 500px;}
    }
    @media (max-aspect-ratio: 16/9) {
      .video-foreground { width: 100%; height: 500px; }
    }
    @media all and (max-width: 600px) {
    .vid-info { width: 50%; padding: .5rem; }
    .vid-info h1 { margin-bottom: .2rem; }
    }
    @media all and (max-width: 500px) {
    .vid-info .acronym { display: none; }
    }
}

.blue-bg {
  background: $blue;
  color: #fff;
  padding: 50px;
  h2 {
     font-size: 2rem;
     margin-bottom: 1.5rem;
  }
  p {
    font-family: 'Arimo';
    font-weight: normal;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 29px;
  }
  span {
    display: block;
  }
  img {
    border-radius: 45px;
  }
}

.angle-seperator {
    height: 270px;
    background: #4b6a88;
    padding: 0;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.col-12 {
  padding: 0;
}

.white-bg {
  background: #fff;
  color: $grey;
  padding: 100px 50px 150px;
  font-size: 24px;
  line-height: 1.88;
    h2 {
     font-size: 2rem;
     margin-bottom: 1.5rem;
  }
  .full-circle {
    float: left;
    margin-right: 40px;
    border-radius: 50%;
  }
}

.footer {
  .footer-bar {
    background: #EDEDED;
    padding: 20px 0;
  }
  .footer-logos {
    img {
      height: 220px;
      width: auto;
    }
  }
}

.page, .single, .blog {
 .sub-header {
    padding: 30px 0;
    border-bottom: 1px solid #f1f2f2;
    border-top: 1px solid #f1f2f2;
    position: relative;
    font-size: inherit;
    background-color: #fff;
    .entry-title {
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    }
    .container-fluid {
      padding: 0 60px;
    }
    .breadcrumbs {
      font-size: 12px;
      a {
      color: #a5a5a5;
      text-transform: uppercase;
      }
      .breadcrumb_last {
        color: #6d6e71;
        text-transform: uppercase;
      }
    }
 }
}

.home .sub-header {
  display: none;
}

.single {
  .entry-header {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .row {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
.h1, h1 {
    font-size: 1.5rem;
}
.h2, h2 {
    font-size: 1.5rem;
}
.banner-header {
  margin-bottom: 20px;
}
.footer .footer-logos img {
    height: auto;
    width: 100%;
}
.home-video {
  display: none;
}
.col-12 {
  margin-bottom: 30px;
}
.white-bg {
    font-size: 20px;
    line-height: 1.5;
    .full-circle {
    margin: 0 auto;
    display: block;
    float: none;
}
}
.navbar-toggler {
  margin: 0 auto;
}
.breadcrumbs {
  text-align: left !important;
}
}